.header-disclaimer-transfer-case {
  font-size: 1rem !important;
  color: #1f4d8f !important;
  margin-top: 0.25rem !important;
  font-weight: 500;
}
.workspace-form-layout-transfer-case {
  display: flex;
  /* flex-direction: column; */
}
