<div class="d-flex flex-column min-vh-100">
  <header class="glass-header-wrapper">
    <div class="container-fluid">
      <div class="header-inner">
        <div class="header-left">
          <a class="brand-link" href="#">
            <img
              src="assets/images/logo.png"
              alt="Main Logo"
              class="logo-main"
            />
          </a>
        </div>

        <div class="header-right">
          <div class="logo-group">
            <img
              src="assets/images/logo_sb.png"
              alt="Secondary Logo 1"
              class="logo-side"
            />
            <div class="vertical-divider"></div>
            <img
              src="assets/images/logo_di.png"
              alt="Secondary Logo 2"
              class="logo-side"
            />
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class="flex-grow-1">
    <p-toast />
    <router-outlet></router-outlet>
  </main>

  <footer class="glass-footer-premium">
    <div class="footer-glass-content">
      Designed & Developed by
      <span class="nic-brand">National Informatics Centre (NIC)</span>
    </div>
  </footer>
</div>
